.container {
  margin: auto;
  max-width: 700px;
  max-height: 600px;
  background-color: #775a4d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 120px;
  text-align: center;
}

fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  font-family: "Rye", serif;
  font-size: 15px;
}

table {
  width: 100%;
}

.bouton {
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="reset"],
input[type="submit"] {
  width: 25%;
  height: 40px; /* Ajuste la hauteur selon tes préférences */
  display: inline-block;
  border-radius: 6px;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  width: 200px;
  border-radius: 6px;
  padding: 6px 6px;
}

input[type="email"] .retour_acceuil button,
.btn_submit,
.btReset {
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  border-radius: 6px;
  display: inline-block;
  width: 80px;
}

p {
  text-align: center;
  color: red;
}

td a {
  margin-top: 70px; /* Espace entre le champ de mot de passe et le lien oublié */
}

/* Ajoute ces styles pour aligner les cases */
table tr td {
  vertical-align: middle;
}

table tr td {
  vertical-align: top; /* Ajustement pour aligner les éléments en haut */
  text-align: left; /* Ajustement pour aligner le texte à gauche */
}

tr.password-reset {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

tr.password-reset td {
  flex: 1;
}

tr.password-reset a {
  text-align: right;
}

label {
  display: inline-block;
  margin-left: 5px; /* Ajout de marge entre le checkbox et le texte */
}

.error-message {
  display: block;
  margin: auto;
  text-align: center;
  background-color: rgb(155, 15, 15);
  color: #fff;
  width: 300px;
  padding: 20px 10px;
  border-radius: 5px;
}
