* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rye", serif;
  background-color: #e3e3e3;
}

label {
  width: 150px;
}

.container {
  margin: auto;
  max-width: 500px;
  background-color: #775a4d;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
  padding: 20px;
}

textarea {
  resize: vertical;
  width: 177px;
}

input[type="text"],
input[type="password"],
select {
  width: 177px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-element {
  display: flex;
  flex-direction: row;
}
.form-element.align-center {
  align-items: flex-start; /* Aligner les éléments à gauche */
  flex-direction: column; /* Aligner les éléments verticalement */
}

.form-element.align-center .check {
  margin-top: 10px; /* Espacement entre le champ de confirmation du mot de passe et la checkbox */
}

.obligatoire {
  color: rgb(255, 0, 0);
}

.bouton {
  display: flex;
  justify-content: space-between;
}

.bouton input[type="submit"],
.bouton button {
  border: 5px solid #ffffff;

  border-radius: 8px;
}

.cles {
  height: 25px;
}

.danger {
  color: red;
}
h1 {
  text-align: center;
  font-family: "Rye", serif;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="submit"],
select {
  border-radius: 8px;
  padding-left: 10px;
}
/* Ajoutez cette règle CSS pour définir l'animation */
@keyframes slideIn {
  from {
    transform: translateX(-450%);
  }
  to {
    transform: translateX(0);
  }
}

/* Appliquez l'animation à votre popup */
.popup {
  display: none;
  position: fixed;
  bottom: 20px; /* Ajustez la distance depuis le bas de la page selon vos préférences */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 9999;
  animation: slideIn 1.4s forwards;
}
