* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rye", serif;
  font-weight: 500;
  font-size: 15px;
}

.h {
  text-align: center;
  font-family: "Rye", serif;
  margin-bottom: 15px;
  font-size: 25px;
  height: 15px;
  margin: 27px 0 40px 0;
}
.titre {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  margin-top: 100px;
  font-family: "Rye", serif;
}
.t_social {
  margin-top: 9px;
  margin-bottom: 2px;
  margin-left: 95px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #957060;
  height: 50px;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 10px;
}

.header > * {
  width: 200px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.socials img {
  height: 30px;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo-western {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  height: 180px;
}

.banniere-liens {
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.navbar a {
  color: #957060;
  text-decoration: none;
  font-weight: 700;
}

.navbar a:hover {
  color: #50413b;
}

.bando_tiag_img,
.footer-img {
  position: relative;
  background-image: url("../images/font_botte_country.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}

footer {
  bottom: 0;
  width: 100%;
  height: 100px;
  background: url(../images/fond.jpg) no-repeat contain #f9f3e7;
  left: 50%;
  transform: translate(0%, +50%);
  font-family: "Rye", serif;
  color: rgb(14, 14, 14);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.copyright {
  position: relative;
  height: 100px;
  background-image: url(../images/fond.jpg) no-repeat contain #f9f3e7;
}

.copyright p {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translate(-50%, +50%);
  color: white;
  font-size: 15px;
  text-align: center;
}
/* Ajoutez ou modifiez ces styles */
.logout-button {
  margin-top: 20px;
  text-align: center;
}

.logout-button a {
  color: black; /* Texte noir par défaut */
  text-decoration: none;
  font-weight: 700;
  font-size: 11px;
}

.logout-button a:hover {
  color: rgb(249, 51, 51); /* Texte rouge au survol */
}

.current-time {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 18px;
  margin-right: 26px;
}

.socials {
  display: flex;
  align-items: center;
}

.socials img {
  height: 30px;
  margin-right: 10px;
}
